body {
  margin: 0;
  padding: 0px 200px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header .link {
  font-size: 18px;
  color: #e5e7eb;
}
